<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="/css/style.css">
               <link rel="icon" href="/img/weather.png"

    </head>
    <body>
      <div class="main">
         {{>header}}
         <h1>About {{name}}</h1>
          <img class="andrew" src="/img/andrew.jpg">
      </div>
       
       {{>footer}}
    </body>
</html>