<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
                 <link rel="icon" href="/img/weather.png"

    </head>
    <body>
        <div class="main">
           {{>header}}
          <h1>HElp page by {{name}}</h1>
          <p>{{help}}</p>
          
        </div>
         {{>footer}}
    </body>

   
</html>